# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA1txDMb4AJX15trrFBFQtM68BzbskIwBc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=betterexpense.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=betterexpense
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=betterexpense.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=999829967351
NEXT_PUBLIC_FIREBASE_APP_ID=1:999829967351:web:693da1c81ae385bee4def2


